<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LyricParser.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="LyricParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <LyricParser.Properties.UserSettings>
      <setting name="MaxRetries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="OrigAnime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrigTouhou" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrigWest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrigJP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RomajiAnime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RomajiTouhou" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RomajiWest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RomajiJP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EngAnime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EngTouhou" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EngWest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EngJP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugCategory" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ThemePath" serializeAs="String">
        <value>Dark.xaml</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="Themes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Dark</string>
            <string>Light</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Locale" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="Locales" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>en-US</string>
            <string>ja-JP</string>
            <string>sv-SE</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SearchAnime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchTouhou" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchWest" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchJP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SearchOther" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrigOther" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RomajiOther" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EngOther" serializeAs="String">
        <value>False</value>
      </setting>
    </LyricParser.Properties.UserSettings>
    <LyricParser.Properties.Settings>
      <setting name="AutoSearch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Locales" serializeAs="String">
        <value>eng</value>
      </setting>
      <setting name="LastCategory" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LastPlayer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZoomIndex" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UseDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1350</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>690</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditOriginal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EditRomaji" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditEnglish" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInfoRight" serializeAs="String">
        <value>True</value>
      </setting>
    </LyricParser.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>