<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.6.16" targetFramework="net45" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Prism.Core" version="8.0.0.1909" targetFramework="net472" />
  <package id="Prism.Unity" version="8.0.0.1909" targetFramework="net472" />
  <package id="Prism.Wpf" version="8.0.0.1909" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.6" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net472" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net472" />
</packages>